body {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.button {
  width: 80%;
  height: 20%;
}

.topright {
  position: absolute;
  top: 0px;
  right: 0px;
}
.topleft {
  position: absolute;
  top: 0px;
  left: 0px;
}

.bottomright {
  position: absolute;
  bottom: 0px;
  right: 0px;
}
.bottomleft {
  position: absolute;
  bottom: 0px;
  left: 0px;
}
.ui {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  background-color: rgba(255, 255, 255, 0.356);
  border-radius: 10px;
  margin: 2%;
}
.settings {
  opacity: 0.4;
  transition-property: opacity;
  transition-duration: 0.3s;
}
.settings:hover {
  opacity: 1;
}

.joystick {
  height: 200px;
  width: 200px;
}
.button {
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 180px;
  max-width: 180px;
  margin: 10px;
}
.button > img {
  height: 100%;
  width: 100%;
}
.ui > p {
  text-align: center;
}
.compass {
  width: 15%;
}
.compass > img {
  width: 4vw;
}
input {
  width: 10vw;
}
